<nb-layout-header fixed>
  <span>Current Player: {{ player }}</span>
  <div class="score">
    <div>X Score: {{ xScore }}</div>
    <div>O Score: {{ oScore }}</div>
  </div>
</nb-layout-header>

<nb-layout-column>
  <main>
    <app-square
      *ngFor="let val of squares; let i = index"
      [value]="val"
      (click)="makeMove(i)"
    >
    </app-square>
  </main>
  <button
    class="reset-button"
    nbButton
    outline
    status="danger"
    (click)="newGame()"
  >
    Reset
  </button>
</nb-layout-column>
