main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3), 1fr));
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 10px;
}

app-square {
  position: relative;
  border: 1px gray solid;
  width: 30vw;
  height: 30vw;
}

.score {
  float: right;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.reset-button {
  margin-top: 20px;
}
